<!DOCTYPE html>
{% load staticfiles %}

<html>
  <head>
    <meta charset="utf-8" />
    <title>Example Client</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css" %}" />
    <link rel="stylesheet" href="{% static "css/bootstrap-theme.min.css" %}" />
    <style>
      body {
        padding-top: 20px;
        padding-left: 20px;
      }
    </style>
    <link href='http://fonts.googleapis.com/css?family=Balthazar' rel='stylesheet' type='text/css'>
<body>
<div class="page-header">
  <h1><small>Minesweeper</small></h1>
</div>
<div class="container">
Your game is over buddy!
<button type="button" id='RE' class="btn btn-primary">Click here to start again</button>
<button type="button" id='P' class="btn btn-primary">Click here to play the same game again</button>
</div>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    <script>
     $('#B').on('click', function (e) {
           location.href = "http://127.0.0.1:8000/newgame/";
     })
   </script>
</body>
</html>
